.containerGrid {
  display: grid;
  max-width: 957px;
  margin: 32px auto;
  padding: 36px 0px;
  justify-content: space-between;
  grid-template-areas: "rightContent" "leftContent";
  grid-template-columns: 614px 293px;
}

.rightContent {
  padding: 0px 24px;
}

.stories {
  display: flex;
  align-items: center;
  height: 118px;
  background: var(--color-white);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 0 20px;
}


.storyItems {
  display: flex;
  width: 100%;
  gap: 12px;
  height: 90px;
  overflow-x: scroll;
}

.storyItems::-webkit-scrollbar {
  display: none;
}

.storyItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 82px;
  width: 80px;
}

.storyItem p {
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  color: var(--color-black);
  cursor: pointer;
}

.storyBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: linear-gradient(to bottom, red, purple);
  border-radius: 50%;
  cursor: pointer;
}

.storyBorder img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.postContent {
  margin-top: 32px;
  gap: 10px;

}

.post {
  margin-top: 32px;
  min-height: 9.1rem;
  background: var(--color-white);
  border: 1px solid var(--border-color);
}

.post header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
}

.postProfile {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
}

.post>header>img {
  cursor: pointer;
}

.postProfile p {
  font-size: 1rem;
  font-weight: 700;

}

.postBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: linear-gradient(to bottom, red, purple);
}

.postBorder img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  cursor: pointer;
}

.postProfile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.postProfile p {
  font-weight: 700;
}

.postImage {
  display: block;
  object-fit: cover;
  width: 100%;
}

.postFooter {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.comment {
  padding: 12px 24px;
}

.comment span {
  font-weight: 700;
}

.icons {
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: space-between;
}

.iconRight {
  display: flex;
  gap: 8px;
}

.commentLikes {
  font-weight: 700;
}

.postFooter p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.postFooter p:nth-child(n+5) {
  color: var(--footer-color);
}

.addComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  border-top: 1px solid var(--border-color);
}

.inputComment {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputComment input {
  font-size: 1rem;
  height: 24px;
}

.addComment button {
  background-color: transparent;
  font-size: 1rem;
  padding: 5px;
  color: var(--color-blue);
  cursor: pointer;
}

.leftContent {
  position: fixed;
  top: 11%;
  left: 60%;
  height: 600px;
  padding: 16px 4px;
}

.profileSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileSection a {
  color: var(--color-blue);
  text-decoration: none;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.username>p:first-child {
  color: var(--color-black);
  font-weight: bold;
  margin-bottom: 8px;
}

.username>p:not(:first-child) {
  color: gray;
  font-size: .9em;
  font-weight: 100;
}

.avatar>img {
  border-radius: 50%;
}

.suggestions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}

.suggestions>span {
  font-weight: 600;
  color: gray;
}

.suggestions>button {
  font-size: .9rem;
  background-color: transparent;
  padding: 6px;
  cursor: pointer;
}

.follows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.follow button {
  font-size: .8rem;
  color: var(--color-blue);
  cursor: pointer;
}

.follow img {
  border-radius: 50%;
  margin-right: 8px;
}

.profileName p {
  font-size: 1rem;
  font-weight: 600;
}

.profileName span {
  color: gray;
  font-size: .9rem;
}

.footerItems {
  display: flex;
  padding: 16px 0px;
  gap: 4px;
  width: 258px;
  list-style: none;
  flex-wrap: wrap;
  text-align: justify;
}

.footerItems a {
  font-size: .8rem;
  font-weight: 300;
  color: gray;
}