:root {
  --color-black :#262626;
  --color-blue: #0095F6;
  --color-white: #FFFFFF;
  --color-dark-white: #FAFAFA;
  --color-gray: #8E8E8E;
  --border-color: #DBDBDB;
  --footer-color: #C7C7C7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

html, body{
  width: 100vw;
  min-height: 100vh;
}

body {
  background-color: var(--color-dark-white);
}